<header class="navbar navbar-fixed-top">
	<div class="container">
		<%= link_to "QnA", "#", id: "logo" %>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Log in", "#" %></li>
			</ul>
		</nav>
	</div>
</header>